html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.nombre-sitio span{
    /* color: #; */

}

.sobre-nosotros{
    background-color: red;
    width: 200px;
    padding: 25px ;

}